# vim: ft=gitconfig
# ~/.gitconfig
[user]
  name  = Paulo Patto
  email = paulopatto@paulopatto.com

[github]
  user = paulopatto

[push]
  default = simple

[apply]
  whitespace = fix

[color]
  ui = auto

[color "branch"]
  current = yellow reverse
  local   = yellow
  remote  = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  new  = green bold

[core]
  excludefile = $HOME/.gitignore_global
  editor      = vim

[grep]
  linenumber = true

[merge]
  log = true

[alias]
  st = status -sb
  ci = commit -v
  l     = "log --topo-order  --pretty=format:'%C(yellow)%H%C(red)%d%n%C(reset)%C(blue)%an <%ae>%n%C(cyan)%aD (%ar)%C(reset)%n%+B"
  graph = "log --graph --all --pretty=format:'%Cred%h%Creset - %Cgreen(%cr)%Creset %s%C(yellow)%d%Creset' --abbrev-commit --date=relative"
  lg    = "log --graph --all --pretty=format:'%Cred%h%Creset - %Cgreen(%cr)%Creset %s%C(yellow)%d%Creset %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative"

